version: '3.9'

services:
  api:
    build:
      dockerfile: Dockerfile
      context: .
      # Only will build development stage from our dockerfile
      target: development
    volumes:
      - /usr/src/app/node_modules
      - .:/usr/src/app
    environment:
      - NODE_ENV=dev
    # Run a command against the development stage of the image
    command: npm run start:dev
    ports:
      - '3000:3000'
    depends_on:
      - postgres
    restart: always
    container_name: api_container
    networks:
      - sharedNet

  postgres:
    image: postgres
    restart: always
    container_name: postgres_container
    ports:
      - '5432:5432'
    volumes:
      - rpg-manager-db:/var/lib/postgresql/data
    env_file:
      - .env.dev
    networks:
      - sharedNet

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
      GUNICORN_ACCESS_LOGFILE: '/dev/null'
      PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED: 'False'
    depends_on:
      - postgres
    ports:
      - '5050:80'
    restart: unless-stopped
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./apps/backend/scripts/pgadmin/servers.json:/pgadmin4/servers.json:ro
    logging:
      driver: none
    networks:
      - sharedNet

networks:
  sharedNet:

volumes:
  rpg-manager-db:
  pgadmin-data:
