---
name: Checks

on: [push, pull_request]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Unit Test
        run: docker-compose -f docker-compose-test.yml run --rm api-test sh -c "npm run test:e2e"
      - name: Lint
        run: docker-compose -f docker-compose-test.yml run --rm api-test sh -c "npm run lint"
